{% extends 'base.html' %}

{% block title %}Orders{% endblock title %}

{% block content %}
  {% for order in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">{{ order.company_name }}</span> &middot;
        <span class="text-muted">by {{ order.user.username }} | {{ order.created }}</span>
      </div>
      <div class="card-body">
        {{ order.data }}
      </div>
      <div class="card-footer text-center text-muted">
        <a href="{% url 'order_detail' order.pk %}">Detail</a> |
        <a href="{% url 'order_edit' order.pk %}">Edit</a> |
        <a href="{% url 'order_delete' order.pk %}">Delete</a> |
        <a href="{% url 'order_calculate' order.pk %}">Calculate</a>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}
